.App {
  text-align: center;
}

body {
  background: rgb(34, 193, 195);
  background: linear-gradient(
    0deg,
    rgba(34, 193, 195, 1) 0%,
    rgba(253, 187, 45, 1) 100%
  );
  height: 100vh;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

button {
  background-color: orange;
  padding: 15px 20px;
  border-radius: 10px;
  cursor: pointer;
  color: wheat;
  text-transform: capitalize;
  border: unset;
  margin: 15px;
  font-weight: bold;
}

button:hover {
  opacity: 0.7;
}
